# Maven
target
**/dependency-reduced-pom.xml

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.buildpath
.settings
.project
.classpath

# NetBeans
**/nb-configuration.xml

# JRebel
**/rebel.xml

# Vagrant
.vagrant

# Node.js
**/node_modules
**/node

# Apache Velocity - TODO What do we need Velocity for?
**/velocity.log

# MS Office lock files
**/*.~$lock

*.versionsBackup
